.loginBox {
  border: 2px solid hotpink;
  border-radius: 8px;
  padding: 0.5rem;
  display: flex;
  gap: 8px;
  align-items: center;
}

input {
  padding: 0.5rem;
  border-radius: 4px;
  border: 20px;
}

button {
  background-color: white;
  border: 2px solid hotpink;
  color: hotpink;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

button:hover {
  background-color: hotpink;
  color: white;
}

.welcomeText {
  color: #ffcc00;
  font-weight: bold;
  margin-left: 12px;
}


.logoutButton {
  background-color: white;
  border: 2px solid hotpink;
  color: hotpink;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.logoutButton:hover {
  background-color: hotpink;
  color: white;
}